# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Platformer MPD.iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../../:\School\Jaar 2\MPD\Platformer\Platformer MPD\.idea\.idea.Platformer MPD\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
